<?xml version='1.0' encoding='utf-8'?>

<widget id="com.srcsuara.suara" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Suara</name>
    <description>
        Test Suara Di Android
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Natalia Melani
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
